* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.App {
  padding: 2rem;
}

.site-nav {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
}

.movie-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 300px;
}

.movie-card .content {
  padding: 1rem;
}

.movie-card .content .title {
  font-size: 1.35rem;
  margin-bottom: 0.75rem;
}

.movie-card .thumbnail {
  display: block;
  height: 200px;
  width: 100%;
}

.card-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.movie-by-genre + .movie-by-genre {
  margin-top: 3rem;
}

.movie-by-genre .genre-title {
  font-size: 1.25rem;
  font-weight: 800;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}
